<div
    style="
        background-color: khaki;
        border: 5px dashed red;
        border-radius: 5px;
        padding: 10px;
    ">
    <h2>Import Error</h2>
    <p>The component could not be loaded: <strong>{{error}}</strong></p>
</div>