<nav id="{{ smart.ID }}">
    <ul>
        <li>
            <span>Jugador</span>
            <ul>
                <li><a href="/jugador/crear">        Crear Jugador        </a></li>
                <li><a href="/jugador/registrar">    Registrar Jugador    </a></li>
                <li><a href="/jugador/eliminar">     Eliminar Jugador     </a></li>
                <li><a href="/jugador/listar">       Listar Jugadores     </a></li>
            </ul>
        </li>
        <li>
            <span>Entrenador</span>
            <ul>
                <li><a href="/entrenador/crear">     Crear Entrenador      </a></li>
                <li><a href="/entrenador/registrar"> Registrar Entrenador  </a></li>
                <li><a href="/entrenador/eliminar">  Eliminar Entrenador   </a></li>
                <li><a href="/entrenador/listar">    Listar Entrenadores   </a></li>
            </ul>
        </li>
        <li>
            <span>Club</span>
            <ul>
                <li><a href="/club/crear">                  Crear Club              </a></li>
                <li><a href="/club/modificar_presupuesto">  Modificar Presupuesto   </a></li>
                <li><a href="/club/listar">                 Listar Clubs           </a></li>
            </ul>
        </li>
    </ul>

    <style>
        #{{ smart.ID }}{
            & {
                background-color: darkorchid;
                border-radius: 15px;
                font-weight: bold;
                height: fit-content;
            }

            span{
                color: silver;
            }

            ul{
                padding: 20px;
                list-style-type: none;
            }

            ul > li{
                margin-top: 10px;
            }

            ul > li > a{
                color: white;
                text-decoration: none;
            }

            ul > li > a:hover{
                color: aquamarine;
            }
        }
    </style>
</nav>