<!-- ==================================================================
        EL SIGUIENTE CÓDIGO HTML ES UN EJEMPLO, EN UN CASO REAL
        CADA COMPONENTE DEBE IR EN SU PROPIO ARCHIVO
     ================================================================== -->

<div id="smartID-AAA">
    <h1>Componente Compuesto</h1>
    <button>Probar!</button>

    <template>
        <p>Funciona!</p>
    </template>

    <div>
        <div id="smartID-AAA-AA">
            <h1>Componente Anidado 1</h1>
            <button>Probar!</button>
        
            <template>
                <p>Funciona!</p>
            </template>
        
            <style>
                #smartID-AAA-AA{
                    & {
                        background-color: dodgerblue;
                        color:white;
                        border-radius: 10px;
                        padding: 20px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
        
                    > button{
                        padding: 5px 10px;
                        border-radius: 15px;
                    }
        
                    > p{
                        background-color: white;
                        color: black;
                        border-radius: 10px;
                        padding: 10px;
                        font-weight: bold;
                    }
                }
            </style>
        
            <script type="module">
                (() => {
        
                    const component = document.querySelector('#smartID-AAA-AA')
                    const template = document.querySelector('#smartID-AAA-AA > template')
                    const button = document.querySelector('#smartID-AAA-AA > button')
        
                    button.addEventListener('click', () => {
                        const copy = template.content.cloneNode(true)
                        component.insertBefore(copy, template)
                    })
        
                })()
            </script>
        </div>
        <div id="smartID-AAA-AB">
            <h1>Componente Anidado 2</h1>
            <button>Probar!</button>
        
            <template>
                <p>Funciona!</p>
            </template>
        
            <style>
                #smartID-AAA-AB{
                    & {
                        background-color: salmon;
                        color:white;
                        border-radius: 10px;
                        padding: 20px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
        
                    > button{
                        padding: 5px 10px;
                        border-radius: 15px;
                    }
        
                    > p{
                        background-color: white;
                        color: black;
                        border-radius: 10px;
                        padding: 10px;
                        font-weight: bold;
                    }
                }
            </style>
        
            <script type="module">
                (() => {
        
                    const component = document.querySelector('#smartID-AAA-AB')
                    const template = document.querySelector('#smartID-AAA-AB > template')
                    const button = document.querySelector('#smartID-AAA-AB > button')
        
                    button.addEventListener('click', () => {
                        const copy = template.content.cloneNode(true)
                        component.insertBefore(copy, template)
                    })
        
                })()
            </script>
        </div>
        <div id="smartID-AAA-AC">
            <h1>Componente Anidado 3</h1>
            <button>Probar!</button>
        
            <template>
                <p>Funciona!</p>
            </template>
        
            <style>
                #smartID-AAA-AC{
                    & {
                        background-color: mediumseagreen;
                        color:white;
                        border-radius: 10px;
                        padding: 20px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
        
                    > button{
                        padding: 5px 10px;
                        border-radius: 15px;
                    }
        
                    > p{
                        background-color: white;
                        color: black;
                        border-radius: 10px;
                        padding: 10px;
                        font-weight: bold;
                    }
                }
            </style>
        
            <script type="module">
                (() => {
        
                    const component = document.querySelector('#smartID-AAA-AC')
                    const template = document.querySelector('#smartID-AAA-AC > template')
                    const button = document.querySelector('#smartID-AAA-AC > button')
        
                    button.addEventListener('click', () => {
                        const copy = template.content.cloneNode(true)
                        component.insertBefore(copy, template)
                    })
        
                })()
            </script>
        </div>
    </div>

    <style>
        #smartID-AAA{
            & {
                background-color: darkorchid;
                color:white;
                border-radius: 10px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            > button{
                padding: 5px 10px;
                border-radius: 15px;
            }

            > div{
                margin-top: 10px;
                display: flex;
                justify-content: space-around;
            }

            > p{
                background-color: white;
                color: black;
                border-radius: 10px;
                padding: 10px;
                font-weight: bold;
            }
        }
    </style>

    <script type="module">
        (() => {

            const component = document.querySelector('#smartID-AAA')
            const template = document.querySelector('#smartID-AAA > template')
            const button = document.querySelector('#smartID-AAA > button')

            button.addEventListener('click', () => {
                const copy = template.content.cloneNode(true)
                component.insertBefore(copy, template)
            })

        })()
    </script>
</div>