<script>
    let smart = {

        props: [],

        setProps(component, props){
            this.props[component.id] = props
        },

        getProps(component){

            let parent = component.id.substring(0, component.id.lastIndexOf('-'))

            if(!this.props[parent]){console.log(`El componente "${parent}" no ha definido props.`); return null}
            return this.props[parent]
        }
    }
</script>

<!-- ==================================================================
        En el script anterior, un componente padre puede establecer una
        serie de props (con setProps()) para que un componente hijo pueda
        acceder a dichas props (con getProps())
     ================================================================== -->

<div id="smartID-A">
    <h1>Componente Padre</h1>

    <template>
        <p>Mensaje del Padre</p>
    </template>

    <div id="smartID-A-A">
        <h1>Componente Hijo</h1>
        <button>Mostrar Mensaje del Padre</button>
    
        <style>
            #smartID-A-A{
                & {
                    background-color: dodgerblue;
                    color: white;
                    border-radius: 10px;
                    padding: 20px;
                }

                button{
                    border-radius: 15px;
                    padding: 5px 10px;
                }

                p{
                    background-color: gray;
                    width: fit-content;
                    border-radius: 10px;
                    padding: 10px;
                    font-weight: bold;
                }
            }
        </style>
    
        <script type="module">
            (() => {
    
                const componente = document.querySelector('#smartID-A-A')
                const button = document.querySelector('#smartID-A-A > button')
    
                button.addEventListener('click', () => {
                    componente.append(smart.getProps(componente))
                })
    
            })()
        </script>
    </div>

    <style>
        #smartID-A{
            & {
                background-color: darkorchid;
                color: white;
                border-radius: 10px;
                padding: 20px;
            }
        }
    </style>

    <script type="module">
        (() => {

            const component = document.querySelector('#smartID-A')
            const plantilla = document.querySelector('#smartID-A > template')
            const copy = plantilla.content.cloneNode(true)

            smart.setProps(component, copy)

        })()
    </script>
</div>