<script>
    let smart = {

        actions: [],

        setAction(name, callback){
            this.actions[name] = callback
        },

        triggerAction(name, value){
            if(!this.actions[name]){console.log(`La acción "${name}" no existe.`); return}
            this.actions[name](value)
        }
    }
</script>

<!-- ==================================================================
        En el script anterior, un componente puede establecer una acción
        (con setAction()) que cualquier otro componente podrá disparar
        (con triggerAction())
     ================================================================== -->

<div id="smartID-A">
    <h1>Componente Actuador</h1>

    <style>
        #smartID-A{
            & {
                background-color: dodgerblue;
                color: white;
                border-radius: 10px;
                padding: 20px;
            }
        }
    </style>

    <script type="module">
        (() => {

            const component = document.querySelector('#smartID-A')

            smart.setAction('Inyeccion en A', (inyeccion) => {
                component.append(inyeccion)
            })

        })()
    </script>
</div>

<div id="smartID-B">
    <h1>Componente Emisor</h1>
    <button>Envia un botón al Componente Actuador</button>

    <template>
        <div id="smartID-B-A">
            <button>Poner verde Componente Emisor</button>

            <script type="module">
                (() => {

                    const component = document.querySelector("#smartID-B-A")
                    const button = document.querySelector("#smartID-B-A > button")
                    const parent = document.querySelector('#smartID-B')

                    button.addEventListener('click', () => {
                        parent.style.backgroundColor = "mediumseagreen"
                    })

                })()
            </script>
        </div>
    </template>

    <style>
        #smartID-B{
            & {
                background-color: salmon;
                color: white;
                border-radius: 10px;
                padding: 20px;
            }
        }
    </style>

    <script type="module">
        (() => {

            const componente = document.querySelector('#smartID-B')
            const plantilla = document.querySelector('#smartID-B > template')
            const button = document.querySelector('#smartID-B > button')

            const copy = plantilla.content.cloneNode(true)

            button.addEventListener('click', () => {
                smart.triggerAction('Inyeccion en A', copy)
            })

        })()
    </script>
</div>