<form action="/api/club/crear" method="POST">
    <div class="mb-3">
        <label for="clubName" class="form-label">Nombre del Club</label>
        <input type="text" class="form-control" id="clubName" aria-describedby="clubName" name="name" required minlength="4" maxlength="100">
    </div>
    <div class="mb-3">
        <label for="clubBudget" class="form-label">Presupuesto del Club</label>
        <input type="number" class="form-control" id="clubBudget" aria-describedby="clubBudget" name="budget" required>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>