<form action="/api/coach/crear" method="POST">
    <div class="mb-3">
        <label for="coachName" class="form-label">Nombre del Coach</label>
        <input type="text" class="form-control" id="coachName" aria-describedby="coachName" name="name" required  minlength="4" maxlength="100">
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>