<form action="/api/coach/registrar" method="POST">
    <div class="mb-3">
        <label for="clubSelect" class="form-label">Club</label>
        <select class="form-select" name="club" id="clubSelect" required>
            <option selected>No se ha podido obtener la información</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="coachSelect" class="form-label">Coach</label>
        <select class="form-select" name="coach" id="coachSelect" required>
            <option selected>No se ha podido obtener la información</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="salary" class="form-label">Salario</label>
        <input type="number" class="form-control" id="salary" aria-describedby="salary" name="salary" required>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>

    <script type="module">
        (() => {

            const clubSelect = document.querySelector('#clubSelect')
            const coachSelect = document.querySelector('#coachSelect')

            smart.fillSelect('/api/club/listar', clubSelect)

            smart.fillSelect('/api/coach/listar', coachSelect)

        })()
    </script>
</form>