<form action="/api/jugador/crear" method="POST">
    <div class="mb-3">
        <label for="playerName" class="form-label">Nombre del Jugador</label>
        <input type="text" class="form-control" id="playerName" aria-describedby="playerName" name="name" required minlength="4" maxlength="100">
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>