<form action="/api/jugador/eliminar" method="POST">
    <div class="mb-3">
        <label for="clubSelect" class="form-label">Club</label>
        <select class="form-select" name="club" id="clubSelect" required>
            <option selected>No se ha podido obtener la información</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="playerSelect" class="form-label">Jugador</label>
        <select class="form-select" name="player" id="playerSelect" required>
            <option selected>--Primero seleccione un club--</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>

    <script>
        (() => {

            const clubSelect = document.querySelector('#clubSelect')
            const playerSelect = document.querySelector('#playerSelect')

            smart.fillSelect('/api/club/listar', clubSelect)

            clubSelect.addEventListener('change', (e) => {

                smart.fillSelectClubConditional('/api/player/listar', playerSelect, e.target.value)
                
            })

        })()
    </script>
</form>